<div class="service" xmlns="http://www.w3.org/1999/html">
  <h1>Service "{{service.name}}"</h1>

  <section>
    <h2>npm</h2>
  </section>

  <section>
    <h2>GitHub</h2>
    <div><label>URL:</label><span>{{github.html_url}}</span></div>
    <div><label>Last push</label><<span><{{github.pushed_at}}/span></div>
    <div><label>Stargazers:</label><span>{{github.stargazers_count}}</span></div>
    <div><label>Watchers:</label>{{github.watchers_count}}</span></div>
    <div><label>Forks:</label><span>{{github.forks_count}}</span></div>
  </section>

  <section>
    <h2>StackOverflow</h2>
  </section>
</div>