<div class="page page--service" xmlns="http://www.w3.org/1999/html">
  <h1>Service "{{service.name}}"</h1>

  <section>
    <h2>npm</h2>
  </section>

  <section>
    <h2>GitHub</h2>
    <div><label>URL:</label><span>{{service.data.github.html_url}}</span></div>
    <div><label>Last push:</label><span><{{service.data.github.pushed_at}}/span></div>
    <div><label>Stargazers:</label><span>{{service.data.github.stargazers}}</span></div>
    <div><label>Watchers:</label>{{service.data.github.watchers}}</span></div>
    <div><label>Forks:</label><span>{{service.data.github.forks}}</span></div>
    <div><label>Open issues:</label><span>{{service.data.github.openIssues}}</span></div>
  </section>

  <section>
    <h2>StackOverflow</h2>
  </section>
</div>